TEI_ODD/rorange_TEI_ODD_2/rorange_TEI_ODD_2.odd

<?xml-model href="out/rorange_TEI_ODD_2.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Remington Orange - TEI - ODD</title>
        <author who="Remington Orange">Remington Orange</author> <!--  rorange: Added "who" attribute for <author> -->
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <price status="free"> <!-- Added other name for <availability> as <price> just for fun -->
          <paragraph>TEI material can be licensed differently depending on the
          use you intend to make of it. Hence it is made available
          under both the CC+BY and BSD-2 licences. The CC+BY licence
          is generally appropriate for usages which treat TEI content
          as data or documentation. The BSD-2 licence is generally
          appropriate for usage of TEI content in a software
          environment. For further information or clarification,
          please contact the TEI Consortium (info@tei-c.org).</paragraph>
        </price>
      </publicationStmt>
      <sourceDesc>
        <paragraph>Written from scratch.</paragraph>
      </sourceDesc>
    </fileDesc><encodingDesc><appInfo><application ident="RomaJS" version="1.0.0" when="2023-10-06T13:56:36.255Z"><desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc></application></appInfo></encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <paragraph>This TEI customization describes a schema that includes <!-- Added Alternate name to <paragraph> as <paragraph> for testing -->
      <emph>all</emph> of the TEI P5 modules. This is a very useful
      starting place for manually creating your own customizations —
      it is much easier to delete the modules you do not want than to
      add the modules you do. Furthermore this customization often
      proves helpful for testing TEI software.</paragraph>
      <paragraph>However, this particular TEI customization is <emph>not
      recommended</emph> for actual use for encoding documents. It
      produces schemas and reference documentation that will be much
      larger and include many more elements than almost anyone could
      conceivably ever need. Tempting though it may be simply to have
      absolutely everything, and <q>just ignore</q> elements not
      required, experience has shown that their presence makes the
      documentation harder to read and use, and makes a schema that is
      far more lax than desired.</paragraph>
      <paragraph>The <att>n</att> attribute of each <gi>moduleRef</gi> below <!--- This is throwing up errors and so is <schemaSpec> below but I didn't edit them in anyway-->
      reflects the chapter number of the TEI <title>Guidelines</title>
      in which the module being referenced is defined. Note that the
      modules are generally referred to in the order defined, with the
      exception that the module for <title level="a">Simple Analytic
      Mechanisms</title> is referred to before the module for <title level="a">Dictionaries</title>. This is because the class <name type="class">att.lexicographic.normalized</name> (which is
      defined in <name type="module">analysis</name>) needs to be
      specified before the class <name type="class">att.lexicographic</name> (which is defined in <name type="module">dictionaries</name>).</paragraph>
      <paragraph>The first four modules are often
      called the <soCalled>required</soCalled> modules. However, these
      modules are not themselves technically required to create a TEI
      conformant markup language (let alone a useful non-TEI
      conformant markup language). Rather, they each contain one or
      more <emph>elements</emph> which are required for TEI
      conformance.</paragraph>
      <schemaSpec ident="tei_all" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core" except="analytic cb divGen email headItem headLabel index meeting monogr rb relatedItem rt ruby sp speaker stage"/>
        <moduleRef n="04" key="textstructure"/>
     
        <moduleRef n="06" key="verse"/>

        <moduleRef n="10" key="msdescription"/>
        <moduleRef n="11" key="transcr" except="sourceDoc"/>
        
        <moduleRef n="13" key="namesdates"/>
        <moduleRef n="14" key="figures"/>
        
        <moduleRef n="16" key="linking"/>
     
      <elementSpec ident="author" mode="change"><attList><attRef name="who" class="att.ascribed"/></attList></elementSpec><elementSpec ident="availability" mode="change"><altIdent>price</altIdent></elementSpec><elementSpec ident="p" mode="change"><altIdent>paragraph</altIdent></elementSpec></schemaSpec>
    </body>
  </text>
</TEI>