Relax-NG/orange_RelaxNG_3/orange_RelaxNG_3.rnc

start = root
root = element root {metadata, recipe}
metadata = element metadata {title, author, text}
title = element title {text}
author = element author {text}
recipe = element recipe {ingredients, directions}
ingredients = element ingredients {item*}
item = element item {text}
directions = element directions {step+}
step = element step {number, instruction}*
number = element number {text}
instruction = element instruction {text}
